@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-size: inherit;
  margin-top: 0;
}

button {
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

main .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

/* временно убрать так, чтобы не мишало визуально */
.features .section-title,
.main-portfolio .section-title {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  main .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  padding: 10px;
  border: 0;
  min-width: 200px;
  min-height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    position: relative;
  }
}

.portfolio-header,
.contact-header {
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-cross,
.icon-menu {
  fill: #000000;
}

.menu-button:focus .icon-cross,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.site-nav {
  margin-bottom: 60px;
}

.site-nav .link {
  display: inline-block;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
}

.site-nav li:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav .link.current {
  color: #2196f3;
  position: relative;
  padding-bottom: 8px;
}

.site-nav .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
}

.auth-nav {
  display: inline-block;
}

.auth-nav > li:not(:last-child) {
  margin: 0 0 16px 0;
}

.auth-nav .link {
  color: #757575;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
}

.auth-nav-icon {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .auth-nav-icon,
.link:focus .auth-nav-icon {
  fill: #2196f3;
}

.menu-container {
  background-color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ececec;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container .site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
  }
  .site-nav > li:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
  }
  .site-nav .link.current {
    color: #2196f3;
    position: relative;
  }
  .site-nav .link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: 0px;
  }
  .auth-nav {
    display: block;
    margin-left: auto;
  }
  .auth-nav > li:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .auth-nav .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #757575;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
  }
  .auth-nav-icon {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover .auth-nav-icon,
  .link:focus .auth-nav-icon {
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .auth-nav > li:not(:last-child) {
    margin: 0 30px 0 0;
  }
}

.header-nav .logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo span {
  color: #2196f3;
}

.portfolio-filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter-li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.filter-li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.works-item {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .works-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.works-item > a {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item > a:hover .works-desc,
.works-item > a:focus .works-desc {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works-item > a:hover, .works-item > a:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.works-hover {
  position: relative;
  overflow: hidden;
}

.works-img {
  width: 100%;
}

.works-type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.works-desc {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.works-title {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .works-item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .works-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .works-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
  color: #ffffff;
}

footer .logo {
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer-address {
  line-height: 1.71;
  font-style: normal;
}

.footer-address > p {
  margin-bottom: 8px;
}

.contact-list > li:not(:last-child) {
  margin-bottom: 8px;
}

.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.box-address {
  margin-bottom: 60px;
}

.box-socials {
  margin-bottom: 60px;
}

.footer-promo {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials .social-icon {
  fill: #ffffff;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-item > a {
  display: block;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item > a:hover,
.socials-item > a:focus {
  background-color: #2196f3;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.form-input {
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

.form-input[placeholder] {
  font-size: 16px;
  line-height: 1.25px;
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
  }
  .form-input {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}
/*# sourceMappingURL=profile.css.map */