.button {
  color: $secondary-title-color;
  background-color: $accent-color;
  letter-spacing: 0.06em;
  font-weight: $font-weight-700;
  font-size: 16px;
  line-height: 1.87;

  border-radius: 4px;
  padding: 10px;
  border: 0;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
}

.button-footer {
  font-weight: $font-weight-900;
  display: flex;
  align-items: center;
  justify-content: center;
}
