.site-nav,
.auth-nav {
  display: none;
}

.portfolio-header,
.contact-header {
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-cross,
.icon-menu {
  fill: #000000;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;

    margin-left: 81px;

    & > li:not(:last-child) {
      margin-right: 50px;
    }

    & .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: $title-text-color;
      letter-spacing: 0.02em;
      font-weight: $font-weight-500;
      line-height: 1.14;
    }

    & .link.current {
      color: $accent-color;
      position: relative;
    }

    & .link.current::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;

      position: absolute;
      bottom: 0px;
    }
  }

  .auth-nav {
    display: block;
    margin-left: auto;

    & > li:not(:last-child) {
      margin: 0 0 10px 0;
    }

    & .link {
      display: flex;
      color: $primmary-text-color;
      letter-spacing: 0.02em;
      font-weight: $font-weight-500;
      line-height: 1.14;
    }

    &-icon {
      margin-right: 10px;
      margin-top: auto;
      margin-bottom: auto;
      fill: $primmary-text-color;
      @include transition(fill);

      .link:hover &,
      .link:focus & {
        fill: $accent-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;

    & > li:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}
