.header-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    position: relative;
  }
}

.portfolio-header,
.contact-header {
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-cross,
.icon-menu {
  fill: #000000;
}

.menu-button:focus .icon-cross,
.menu-button:focus .icon-menu {
  fill: $accent-color;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.site-nav {
  & .link {
    display: inline-block;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: $font-weight-500;
    font-size: 18px;
    line-height: 1.17;
  }

  & .link:not(:last-child) {
    margin-bottom: 40px;
  }

  & .link.current {
    color: $accent-color;
    position: relative;
    padding-bottom: 8px;
  }

  & .link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;

    position: absolute;
    bottom: 0px;
  }
}

.auth-nav {
  display: inline-block;

  & > li:not(:last-child) {
    margin: 0 0 10px 0;
  }

  & .link {
    display: flex;
    color: $primmary-text-color;
    letter-spacing: 0.02em;
    font-weight: $font-weight-500;
    line-height: 1.14;
  }

  &-icon {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    fill: $primmary-text-color;
    @include transition(fill);

    .link:hover &,
    .link:focus & {
      fill: $accent-color;
    }
  }
}

.menu-container {
  background-color: $primary-bg-color;
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ececec;

    .site-nav {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header-nav {
    align-items: center;
  }

  .site-nav {
    display: flex;

    margin-left: 81px;

    & > li:not(:last-child) {
      margin-right: 50px;
    }

    & .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: $title-text-color;
      letter-spacing: 0.02em;
      font-weight: $font-weight-500;
      line-height: 1.14;
    }

    & .link.current {
      color: $accent-color;
      position: relative;
    }

    & .link.current::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;

      position: absolute;
      bottom: 0px;
    }
  }

  .auth-nav {
    display: block;
    margin-left: auto;

    & > li:not(:last-child) {
      margin: 0 0 10px 0;
    }

    & .link {
      display: flex;
      color: $primmary-text-color;
      letter-spacing: 0.02em;
      font-weight: $font-weight-500;
      line-height: 1.14;
    }

    &-icon {
      margin-right: 10px;
      margin-top: auto;
      margin-bottom: auto;
      fill: $primmary-text-color;
      @include transition(fill);

      .link:hover &,
      .link:focus & {
        fill: $accent-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;

    & > li:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}
