//стилизация лого
.header-nav .logo {
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: #000000;
  font-family: $font-family-secondary;
  font-weight: $font-weight-700;
  font-size: 26px;
  line-height: 1.19;
}
.logo span {
  color: $accent-color;
}
