.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;

  & > li:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: $font-weight-500;
    line-height: 1.14;
  }

  & .link.current {
    color: $accent-color;
    position: relative;
  }

  & .link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;

    position: absolute;
    bottom: 0px;
  }
}

.auth-nav {
  display: flex;
  margin-left: auto;

  & .link {
    display: flex;
    color: $primmary-text-color;
    letter-spacing: 0.02em;
    font-weight: $font-weight-500;
    line-height: 1.14;
  }

  & > li:not(:last-child) {
    margin-right: 30px;
  }

  &-icon {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    fill: $primmary-text-color;
    @include transition(fill);

    .link:hover &,
    .link:focus & {
      fill: $accent-color;
    }
  }
}

.portfolio-header,
.contact-header {
  border-bottom: 1px solid #ececec;
}
