//блок Особенности
.features {
  @media screen and (max-width: 767px) {
    &-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-div {
    background-color: $secondary-bg;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &-icon {
    width: 70px;
    height: 70px;
    margin: auto;
  }

  &-subtitle {
    font-weight: $font-weight-700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  & .text {
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-item {
    width: calc((100% - 30px) / 2);

    @media screen and (max-width: 1199px) {
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }

      &:not(:nth-last-child(2n + 1)) {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 3 * 30px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
