//  герой
.hero {
  background: $decorative-bg-color;
  background-image: linear-gradient($decorative-bg-color, $decorative-bg-color),
    url(../img/hero-backgraund.jpg);
  background-size: cover;
  background-position: center;

  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;

  &-container {
    text-align: center;
    width: 360px;
    height: 164px;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    color: $secondary-title-color;
    font-weight: $font-weight-900;
    font-size: 26px;
    line-height: 1.62;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &-button {
    display: inline-block;
  }
}
